[user]
    name = kyechou
    email = kuanyenchou@gmail.com
    signingkey = 71FF6F39B8A800DE

[core]
    editor = nvim

[color]
    branch = auto
    diff = auto
    log = auto
    status = auto
    ui = auto

[init]
    defaultBranch = main

[commit]
    gpgsign = true

[tag]
    gpgsign = true
    forceSignAnnotated = true

[push]
    default = simple

[pull]
    ff = only   # merge locally

[status]
    submodulesummary = true

[diff]
    algorithm = histogram
    colorMoved = true

[log]
    date = iso-local
    showroot = true

[alias]
    st = status
    cm = commit
    co = checkout
    rt = restore
    br = branch -avv
    lg = log --graph --color --oneline
    lga = log --graph --color --oneline --all
    lgp = log --color --patch --compact-summary
    lsr = ls-remote
    d = diff
    dc = diff --cached
