.config/cmus/autosave
.config/cmus/cache
.config/cmus/command-history
.config/cmus/lib.pl
.config/cmus/playlist.pl
.config/cmus/search-history
.config/vlc/vlc-qt-interface.conf
.config/spotify-tui/.spotify_token_cache.json
.config/spotify-tui/client.yml
.stversions
.vim/.netrwhist
.vim/autoload/*.old
.vim/plugged
.vim/sessions
private
