[user]
    name = kyechou
    email = kuanyenchou@gmail.com
    signingkey = 71FF6F39B8A800DE

[core]
    editor = vim

[color]
    branch = auto
    diff = auto
    log = auto
    status = auto
    ui = auto

[commit]
    gpgsign = true

[tag]
    gpgsign = true
    forceSignAnnotated = true

[push]
    default = simple

[pull]
	ff = only   # merge locally

[status]
    submodulesummary = true

[diff]
    algorithm = minimal

[log]
    date = iso-local
    showroot = true

[alias]
    st = status
    cm = commit
    co = checkout
    rt = restore
    br = branch -avv
    lg = log --graph --color
    lgp = log --color -p --compact-summary
    lsr = ls-remote
    diff = diff
    diffc = diff --cached
