@import url("../colorscheme.css");

* {
    border: none;
    background: none;
}

window {
    background-color: @sumiInk1;
    opacity: 0.8;
}

button {
    background-color: @sumiInk1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    font-family: "Cantarell";
    font-size: 18px;
    border-radius: 0;
}

/* button:focus, */
/* button:active, */
/* button:hover */

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#poweroff {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}
